---
const { title, img } = Astro.props;
---

<div class="flex items-center gap-5 group  ">
    <div class="w-4 h-4 rounded-full p-2 bg-green-900 duration-500">
    </div>
    <div class="text-xl text-black">
        {title}
    </div>
</div>
