---
const { title, img } = Astro.props;
---

<div class="flex items-start  group  gap-3  ">
    <div class="w-2 h-2 rounded-full p-1 bg-green-900 mt-2">
    </div>
    <div class="text-base text-black">
        {title}
    </div>
</div>
